@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Radiobox';
  src: url("../fonts/Radiobox/radiobox.eot?etlt92");
  src: url("../fonts/Radiobox/radiobox.eot?#iefixetlt92") format("embedded-opentype"), url("../fonts/Radiobox/radiobox.ttf?etlt92") format("truetype"), url("../fonts/Radiobox/radiobox.woff?etlt92") format("woff"), url("../fonts/Radiobox/radiobox.svg?etlt92#radiobox") format("svg");
  font-weight: normal;
  font-style: normal; }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut; }

@-webkit-keyframes little-push {
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes little-push {
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.little-push {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: little-push;
  animation-name: little-push; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInRightBig {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutLeftBig {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  font-size: 100%;
  font-family: "RobotoRegular";
  background-color: #EEEEEE; }

.under-header {
  position: relative;
  top: 0;
  width: 100%;
  height: 7%;
  min-height: 1.8em; }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  min-height: 1.8em;
  background-color: #0C57FF;
  -webkit-box-shadow: 0 -4px 15px 6px #000;
  -moz-box-shadow: 0 -4px 15px 6px #000;
  box-shadow: 0 -4px 15px 6px #000; }
  header .menu-button {
    position: absolute;
    width: 24px;
    margin: auto 6px;
    top: 0;
    bottom: 0; }
  header div {
    height: 1.4em;
    position: absolute;
    margin: auto 45px;
    top: 0;
    bottom: 0;
    font-family: "RobotoBold";
    font-size: 1.4em; }

main {
  position: relative;
  margin: 0 auto;
  width: 94%;
  top: 3%; }
  main section {
    position: relative; }
    main section img {
      display: block;
      width: 100%; }
    main section .under-main-img {
      position: inherit;
      width: 100%;
      background-color: #8A8F99; }
      main section .under-main-img p {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 10px; }
    main section hr {
      clear: both;
      height: 0;
      border-top: 1	px solid #C4C4C4;
      border-left: 1	px solid #EBEBEB;
      border-right: 1	px solid #EBEBEB;
      border-bottom: 1	px solid #EBEBEB; }

aside {
  z-index: 2;
  opacity: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  left: -80%;
  width: 75%;
  height: 100%;
  max-width: 300px;
  min-width: 180px;
  background-color: #fff;
  -webkit-box-shadow: -4px 0 30px 5px #000;
  -moz-box-shadow: -4px 0 30px 5px #000;
  box-shadow: -4px 0 30px 5px #000; }
  aside .userInfo {
    position: relative;
    width: 100%;
    height: 25%;
    min-height: 100px;
    max-height: 160px;
    background-color: #00BBFF; }
    aside .userInfo .close-menu-icon {
      position: absolute;
      top: 7%;
      right: 5%; }
    aside .userInfo .photo {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 10%;
      left: 5%;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      background-color: #9E9E9E; }
      aside .userInfo .photo img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50px; }
    aside .userInfo .name {
      position: absolute;
      width: 95%;
      bottom: 5%;
      left: 5%;
      font-family: "RobotoMedium";
      font-size: 1.2em; }
  aside nav {
    height: 75%; }
    aside nav ul {
      padding-bottom: 1.2em;
      width: 95%; }
      aside nav ul li {
        list-style: none;
        position: relative;
        left: 5%;
        padding-top: .6em; }
        aside nav ul li img {
          position: relative;
          bottom: -.3em;
          padding-right: 1.3em; }

.swipe-for-aside {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 5%;
  height: 93%; }

.WRAP-content-in-aside {
  min-height: 100%;
  margin-bottom: -1.7em; }

.WRAP-content-in-aside:after {
  content: "";
  display: block;
  height: 1.7em; }

.page-on {
  position: absolute;
  height: 1.7em;
  width: 100%;
  font-family: "OpenSansRegular"; }
  .page-on div {
    position: absolute;
    left: 5%; }
    .page-on div img {
      width: 1.2em;
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      right: -1.3em; }
    .page-on div a {
      text-decoration: none;
      color: #000; }

#greyScreen {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5; }

.card {
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0 10px 0px #000;
  -moz-box-shadow: 0 0 10px 0px #000;
  box-shadow: 0 0 10px 0px #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.flat-button {
  display: inline-block;
  padding: 0.5em;
  color: #006AFF;
  font-family: "RobotoMedium"; }

.raised-button {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-family: "RobotoMedium";
  color: #fff;
  background-color: #006AFF;
  -webkit-box-shadow: 0 2px 10px 0 #888;
  -moz-box-shadow: 0 2px 10px 0 #888;
  box-shadow: 0 2px 10px 0 #888;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.raised-button-disabled {
  color: #666;
  background-color: #ddd;
  -webkit-box-shadow: 0 0 2px 0 #888;
  -moz-box-shadow: 0 0 2px 0 #888;
  box-shadow: 0 0 2px 0 #888; }

.action-button {
  position: absolute;
  width: 65px;
  height: 65px;
  top: -31px;
  left: 10%;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 7px 25px -1px #000;
  -moz-box-shadow: 0 7px 25px -1px #000;
  box-shadow: 0 7px 25px -1px #000;
  background-color: #FF4C00; }
  .action-button img {
    width: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.question {
  padding: 0.7em 0.8em 1em;
  font-family: "RobotoMedium";
  font-size: 1.2em; }
  .question .back-on-question-card {
    font-size: 0.9em;
    float: left; }
  .question .start-again-on-question-card {
    font-size: 0.9em;
    float: right; }

.answer {
  padding: 1em 0.8em 1em; }
  .answer input[type="radio"] {
    display: none; }
  .answer label {
    font-size: 1.2em; }
  .answer input[type="radio"] + label span:before {
    font-family: 'Radiobox';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 0.7em;
    content: "\e601"; }
  .answer input[type="radio"]:checked + label span:before {
    content: "\e600"; }
  .answer .next-answer {
    float: right;
    margin: 1em;
    margin-right: 0.8em; }

/*# sourceMappingURL=style.css.map */
